/* archives.html */

.form-search input
{
    border-radius: 1.15em 0 0 1.15em !important;
    &:focus
    {
        border-color: #323232 !important;
    }
}

.form-search button
{
    border-radius: 0 1.15em 1.15em 0 !important;
}

.card-files
{
    background-color: #d3d3d3 !important;
}

.none-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

.none-block .material-symbols-outlined
{
    font-size: 6em;
}

.none-alert
{
    font-size: 2em !important;
}

/* list-archives.html */

button[data-edit="info"]
{
    background: #d88c0c !important;
    color: white !important;
}

div[data-content="info"]
{
    padding: 0 !important;
    margin: 0 !important;
}

div[data-content="info"] button
{
    border-radius: 0 0 6px 0 !important;

    &:hover
    {
        background: #c67600 !important;
    }
}

div[data-content="info"] .data-content
{
    width: 85% !important;
    padding: .5em !important;
}

div[data-content="info"] .edit-btn
{
    width: 15% !important;
    transition: width 0.3s ease-in-out;

    &:hover
    {
        width: 25% !important;
    }
}

#done
{
    color: #3854f5 !important;
}

#marked
{
    color: #c67600 !important;
}

#border-done
{
    border-color: #3854f5 !important;
}

#border-marked
{
    border-color: #c67600 !important;
}