body,html{
    width: 100%;    
    height: 100%;
    font-family:"Lato",sans-serif !important;
}

.login{
    display: flex;
    justify-content: center; 
    align-items: center;  
    background: #eff7fa;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

h1{
    font-weight: bolder !important;
}
.BTIN{
    display: block !important;
    width: 10em;
     border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background: #3452f5;
    font-size: 1em;
    padding: 0.5em;
    
}
.BTIN1{  
    background: #3854f5;
}

.BTIN1:active{
    color: #3854f5;
    background: #ffffff;
}

.BTIN2{
    
    background: #19a950;
    
}
.BTIN2:active{
    color:  #19a950;
    background: #ffffff;
}



.BTIN3{
    
    background: #d88c0c;
    
    
}
.BTIN3:active{
    color: #d88c0c;
    background: #ffffff;
}

.butoes{

    left: 50%;
    transform: translateX(-50%);
}


.logador{
    display: flex;
    flex-direction: column; /* empilha verticalmente */
    gap: 10px;

}

input::placeholder {
    font-family: Arial, sans-serif;}

input:focus{
    border: 1px solid rgb(117, 115, 115) !important;
    outline: none;
}

.butao_login{
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    background: #3452f5;
    font-size: 1em;
    }

.butao_login:active{
    background: white  ;
    color: #3452f5;
}

.cabecalho{
    background: #495464;
    color: white;
}




td:hover{
    border: 1px solid black;
}
